ENVIRONMENT = "development"
PORT = 3000

# - Database Configuration - #

DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_NAME=""
DATABASE_USER=""
DATABASE_PASSWORD=""

# - Swagger Configuration - #

SWAGGER_TITLE="Wiki Feats API"
SWAGGER_DESCRIPTION="API Documentation"
SWAGGER_VERSION="1.0.0"

# - External APIs - #

LIBRE_TRANSLATE_API_URL="http://localhost:5000"