.state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex: 1;
}

.state-icon svg {
    width: 80px;
    height: 80px;
    color: var(--secondary)
}

.state-message {
    font-size: 24px;
    font-weight: 600;
}